.container
  = render 'shared/side_bar'
  .chat
    .chat__header
      .chat__header-group-info
        %p.chat__header-group-title
          テストグループ
        %p.chat__header-group-member
          テストグループ:テストユーザー
      %a.chat__header-edit-button
        Edit
    .chat__content
      .chat__content-message-list
        .chat__content-message
          %p.chat__content-message-name
            テストユーザー
            %span.chat__content-message-time
              2018/10/17 00:00:00
          %p.chat__content-message-body
            テスト
    .chat__footer
      .form
        = form_for [@group, @message], html: {id: 'new__message'} do |f|
          = f.text_field :content, class: 'form__message', placeholder: 'type a message'
          = f.label :image, class: 'upload-label' do
            = fa_icon 'picture-o', class: 'send-icon'
            = f.file_field :image, class: 'upload-icon'
          = f.submit 'Send', class: 'form__submit'
